.breakdance .bce-woosearch {width:100%;max-width:100%;}

.breakdance .bce-woosearch .ajax-search-bar input#ajax-search-input {border:1px solid var(--bde-form-input-border-color);}

.breakdance .bce-woosearch .ajax-search-bar select#ajax-search-category {border:1px solid var(--bde-form-input-border-color);}

.bce-woosearch  #ajax-search-results img
{max-width:50px;}

.breakdance .bce-woosearch .ajax-search-bar {
  background-color:var(--grey-50);
  padding:var(--bde-form-input-padding-top);
  border:var(--bde-form-input-border-width) solid var(--bde-woo-base-border-color);
  border-radius:var(--bde-form-input-border-radius);
}

.breakdance .bce-woosearch #ajax-search-results {
  background-color:var(--white);
}

.breakdance .bce-woosearch #ajax-search-results li:hover {
 background-color:var(--grey-50);
  
}

.bce-woosearch #show-all-results {
      margin-top: var(--bde-woo-base-standard-gaps);
      padding: var(--bde-button-padding-base);
      font-size: var(--bde-button-font-size);
      border: none;
      border-radius: var(--bde-button-border-radius);
      background-color: var(--bde-woo-base-primary-color);
      color: var(--bde-button-primary-text-color);
      cursor: pointer;
   width:100%;

    }
 .bce-woosearch  #show-all-results:hover {
      background-color: var(--bde-woo-base-primary-color-hover);
    }

/* Styling the results list */
 .bce-woosearch #ajax-search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Each list item in the results */
 .bce-woosearch #ajax-search-results li {
  padding: var(--bde-woo-base-medium-gaps);
  border-bottom: 1px solid var(--bde-woo-base-border-color);
  transition: background var(--bde-transition-duration);
  display: flex;
  align-items: center;
  
}
 .bce-woosearch #ajax-search-results li:last-child {
  border-bottom: none;
}

 .bce-woosearch .ajax-search-bar.hide-categories select#ajax-search-category {
  display: none;
}
 .bce-woosearch .ajax-search-bar.hide-categories input#ajax-search-input {
  width: 100%;
}

 .ajax-search-bar > #ajax-search-results {
  order: 3;
  flex-basis: 100%;
  }


.bce-woosearch .ajax-search-bar select#ajax-search-category {
  order: 2;
  width: 200px; 
  padding: 11px;
  box-sizing: border-box;
}

.bce-woosearch .ajax-search-bar .ajax-search-bar.hide-categories select#ajax-search-category {
      display: none;
    }

.bce-woosearch .ajax-search-bar input#ajax-search-input {
  order: 1;
  flex: 1;
  padding: 12px;
  box-sizing: border-box;
}

.bce-woosearch .ajax-search-bar {
  width: 100%;
  max-width: 100%;
  margin: 0px auto;
   display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bce-woosearch #ajax-search-results {
  max-height: calc(var(--bde-woo-base-space) * 37.5);
  overflow-y: auto;
  
}

.bce-woosearch #ajax-search-results img {
  margin-right: var(--bde-woo-base-standard-gaps);
}

.bce-woosearch #ajax-search-results a {
  text-decoration: none;
}
.bce-woosearch #ajax-search-results a:hover {
  text-decoration: underline;
}

.bce-woosearch #ajax-search-results p {
  margin: 0.5rem 0 0;
  }
.bce-woosearch .loading {
          width: 100%;
          text-align: center;
          padding: var(--bde-woo-base-medium-gaps);
          font-size: var(--bde-body-font-size);
          color: var(--bde-form-text-color);
        }

.bce-woosearch select#ajax-search-category {
  -webkit-appearance: none; 
  color:var(--bde-form-text-color);
  -moz-appearance: none;   
  appearance: none;       
   line-height: 1.3;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3e%3cpath fill='%23375151' d='M6 9L2 5h8z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 10px center;
}